.services{

    .cardpasboot{

            display: flex;
            justify-content: space-evenly;
            width: 70%;
        .pluscard{

            width: 30%;

            .card-body{
                text-align: center  !important;
            }
        }
    }

        


}